.SideLinks {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--light-text-color);
}
.SideLinks.Left {
    left: 40px;
    right: auto;
}
@media (max-width: 1080px) {
    .SideLinks {
        left: auto;
        right: 20px
    }
    .SideLinks.left {
        left: 20px;
        right: auto;
    }
}

@media (max-width: 768px) {
    .SideLinks {display: none;}
}
.SideLinks::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--light-text-color);
}
.SideLinks svg {
    width: 20px;
    height: 20px;
    fill: none;
}
.SideLinks a {
    padding: 10px;
}
.SideLinks > a {
    margin: 20px auto;
    padding: 10px;
    font-family: var(--font-mono);
    font-size: var(--font-size-xxs);
    letter-spacing: 0.2em;
    writing-mode: vertical-rl;
}
.SideLinks a:hover,
.SideLinks a:focus {
    transform: translateY(-3px);
}
.SideLinks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.SideLinks ul li {
    margin: 0;
    padding: 0;
}
.SideLinks ul li::before {
    display: none;
}
.SideLinks ul li:last-of-type {
    margin-bottom: 20px;
}