.NavList {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.NavList li {
    margin: 0px 5px;
    position: relative;
    counter-increment: item 1;
    font-size: var(--font-size-xs);
}
.NavList li a{
    padding: 10px;
}
.NavList li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--highlight-color);
    font-size: var(--font-size-xxs);
    text-align: right;
}