.IconLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.IconLinkSVG {
    width: 20px;
    height: 20px;
    fill: none;
}
.IconLinkSVGExternal {
    width: 22px;
    height: 22px;
    fill: none;
    margin-top: -4px;
}