.OtherProjectsHeading {
    text-align: center;
    font-size: clamp(24px,5vw,var(--font-size-heading));
}
.OtherProjectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    margin-top: 50px;
}
@media (max-width: 1080px) {
    .OtherProjectsGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

.ShowMoreBtn {
    display: block;
    margin: 80px auto 0;
}