.Button {
    color: var(--highlight-color);
    background-color: transparent;
    border: 1px solid var(--highlight-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-xs);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    padding: 1.25rem 1.75rem;
}
.Button:hover,
.Button:focus,
.Button:active {
    background-color: var(--theme-tint-color);
    outline: none;
}
.Button:after {
    display: none !important;
}