.Contact {
    max-width: 600px;
    margin: 0 auto 100px;
    text-align: center;
}
@media (max-width: 768px) {
    .Contact { margin: 0 auto 50px; }
}
.Contact h2 {
    display: block;
    margin-bottom: 20px;
    color: var(--highlight-color);
    font-family: var(--font-mono);
    font-size: var(--font-size-md);
    font-weight: 400;
}
.Contact h2::before {
    bottom: 0;
    font-size: var(--font-size-sm);
}
.Contact h2::after {
    display: none;
}
.Contact h3 {
    font-size: clamp(40px, 5vw, 60px);
}
.Contact a {
    margin-top: 50px;
}