:root{
  /*Colors root variables*/
  --dark-theme-color: #020C1B;
  --theme-color:	#0a192f;
  --medium-theme-color: #112240;
  --light-theme-color:	#172a45;
  --lightest-theme-color:	#303C55;
  --shadow: rgba(2, 12, 27, 0.7);
  --text-color:	#8892b0;
  --light-text-color:	#a8b2d1;
  --lightest-text-color:	#ccd6f6;
  --white:	#e6f1ff;
  --highlight-color:	#64ffda;
  --theme-tint-color: rgba(45, 163, 134, 0.1);
  /*Font sizes root variables*/
  --font-size-xxs: 12px;
  --font-size-xs: 13px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-xxl: 22px;
  --font-size-heading: 32px;
  --font-sans: 'Calibre', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  /*misc*/
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  /*transition*/
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  /*hamburger menu*/
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}


html {
  box-sizing: border-box;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
::selection {
  background-color: var(--text-color);
  color: var(--lightest-text-color);
}


body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--theme-color);
  color: var(--text-color);
  font-family: var(--font-sans);
  font-size: var(--font-size-xl);
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.hidden { overflow: hidden; }
body.blur {
  overflow: hidden;
}
body.blur header {
  background-color: transparent;
}
body.blur #content > * {
  filter: blur(5px) brightness(0.7);
  transition: var(--transition);
  pointer-events: none;
  user-select: none;
}
@media (max-width: 480px) {
  body { font-size: var(--font-size-lg); }
}


main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;
}
main.fillHeight {
  padding: 0 150px;
}
@media (max-width: 1080px) {
  main { padding: 200px 100px; }
  main.fillHeight { padding: 0 100px; }
}
@media (max-width: 768px) {
  main { padding: 150px 50px; }
  main.fillHeight { padding: 0 50px; }
}
@media (max-width: 480px) {
  main { padding: 125px 25px; }
  main.fillHeight { padding: 0 25px; }
}


section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}
@media (max-width: 768px) {
  section{ padding: 80px 0; }
}

@media (max-width: 480px) {
  section{ padding: 60px 0; }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: var(--lightest-text-color);
  line-height: 1.1;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
img[alt=""],
img:not([alt]) {
  filter: blur(5px);
}
svg {
  height: 100%;
  fill: currentColor;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
  cursor: pointer;
}
a:hover,
a:focus,
.active {
  color: var(--highlight-color);
}


p {
  margin: 0 0 15px 0;
}
p:last-child,
p:last-of-type {
  margin: 0;
}
p > code {
  background-color: var(--light-theme-color);
  color: var(--white);
  font-size: var(--font-size-sm);
  border-radius: var(--border-radius);
  padding: 0.3em 0.5em;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: var(--font-size-lg);
}
ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
ul li:before {
  content: '▹';
  position: absolute;
  left: 0;
  color: var(--highlight-color);
}

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: var(--font-size-md);
}

.fade,
.fade-up,
.fade-up-delayed,
.fade-down,
.fade-delayed {
  visibility: hidden;
}