.Project {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}
.Project:not(:last-of-type) {
    margin-bottom: 100px;
}
@media (max-width: 768px) {
    .Project:not(:last-of-type) { margin-bottom: 70px; }
}
@media (max-width: 480px) {
    .Project:not(:last-of-type) { margin-bottom: 30px; }
}
/********************************************/
/****************Odd projects****************/
/********************************************/

/*Project content*/
.Project:nth-of-type(odd) .ProjectContent {
    grid-column: 7 / -1;
    text-align: right;
}
@media (max-width: 1080px) {
    .Project:nth-of-type(odd) .ProjectContent { grid-column: 5 / -1; }
}
@media (max-width: 768px) {
    .Project:nth-of-type(odd) .ProjectContent{
        grid-column: 1 / -1;
        padding: 40px 40px 30px;
    }
}
@media (max-width: 480px) {
    .Project:nth-of-type(odd) .ProjectContent { padding: 25px 25px 20px; }
}

/*project tech ist*/    
.Project:nth-of-type(odd) .ProjectTechList {
    justify-content: flex-end;
}
.Project:nth-of-type(odd) .ProjectTechList li {
    margin: 0 0 5px 20px;
}
@media (max-width: 768px) {
    .Project:nth-of-type(odd) .ProjectTechList li { margin: 0 0 5px 10px; }
}

/*Project links*/
.Project:nth-of-type(odd) .ProjectLinks {
    justify-content: flex-end;
    margin-left: 0;
    margin-right: -10px;
}
.Project:nth-of-type(odd) .ProjectImage {
    grid-column: 1 / 8;

    @media (max-width: 768px) {
    grid-column: 1 / -1;
    }
}